/* Modal Styling to Match Dashboard */
.create-menu-dialog {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.section-title {
    -fx-text-fill: #1D2957;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.create-menu-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1D2957;
    -fx-font-size: 16px;
    -fx-padding: 30px;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 8, 0, 0, 2);
    -fx-min-height: 80px;
    -fx-min-width: 120px;
}

.create-menu-button:hover {
    -fx-background-color: #e6e8ed;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #1D2957;
    -fx-text-fill: #1D2957;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.label{
    -fx-text-fill: #1D2957;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.secondary-button:hover {
    -fx-background-color: rgba(29, 41, 87, 0.1);
}
